/* styles.css */
body {
    background-color: #000000;
    color: #ffffff
}
section {
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
}
article {
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 1.6;
}
